h1
{
	background-color: yellow;
	font-size: larger;
	border: 5px solid darkred;
}
h2
{
	background-color: greenyellow;
	font-size: 70px;
	border: 7px solid red;

}
p
{
	background-color: hotpink;
	font-size: 40px;
	border: 10px dodgerblue;




}